# Exploratory Data Analysis (EDA) for Food Reviews Dataset

## Overview of the Datasets

### Load the datasets

In [1]:
# Import required libraries
import pandas as pd
from numpy.ma.extras import row_stack

In [2]:
# Load the data from the CSV and TXT files
bad_lines = []
def collect_bad_line(line):
    bad_lines.append(line)
    return None  # skip

nutrition_df = pd.read_csv('data/Nutrition.csv', sep=";")
restaurants_df = pd.read_csv('data/Restaurants.csv', sep=";")
reviews_df = pd.read_csv('data/Reviews.txt', sep="\t")
recipes_df = pd.read_csv("data/Recipes.csv", sep=";", engine="python", on_bad_lines=collect_bad_line)

print("loaded:", recipes_df.shape)
print("bad lines captured:", len(bad_lines))
print("example bad line:", bad_lines[0][:2000] if bad_lines else "none")

loaded: (402037, 13)
bad lines captured: 0
example bad line: none

### Recipes Dataset

In [3]:
print('====== Recipes Dataset ======')
print('Number of rows: ', recipes_df.shape[0])
print('Number of columns: ', recipes_df.shape[1])
print('Number of Unique Recipe Categories: ', len(list(set(recipes_df['RecipeCategory'].unique()))))
print('Number of duplicates: ', recipes_df.duplicated().sum())
print('Number of Null Values: ', recipes_df.isnull().sum().sum())
print('Number of rows with null values: ', len(recipes_df[recipes_df.isnull().any(axis=1)].index))
print('Columns with Null Values: ', recipes_df.isnull().sum())
print('\n')
recipes_df.head()

====== Recipes Dataset ======
Number of rows:  402037
Number of columns:  13
Number of Unique Recipe Categories:  295
Number of duplicates:  0
Number of Null Values:  500854
Number of rows with null values:  360568
Columns with Null Values:  RecipeId                           0
Name                               0
CookTime                       65291
PrepTime                           0
DatePublished                      0
Images                             1
RecipeCategory                   449
Keywords                       10909
RecipeIngredientQuantities         2
RecipeIngredientParts              0
RecipeServings                145767
RecipeYield                   278435
RecipeInstructions                 0
dtype: int64

,RecipeId,Name,CookTime,PrepTime,DatePublished,Images,RecipeCategory,Keywords,RecipeIngredientQuantities,RecipeIngredientParts,RecipeServings,RecipeYield,RecipeInstructions
0,38,Low-Fat Berry Blue Frozen Dessert,PT24H,PT45M,1999-08-09T21:46:00Z,"c(""https://img.sndimg.com/food/image/upload/w_...",Frozen Desserts,"c(""Dessert"", ""Low Protein"", ""Low Cholesterol"",...","c(""4"", ""1/4"", ""1"", ""1"")","c(""blueberries"", ""granulated sugar"", ""vanilla ...",4.0,NaN,"c(""Toss 2 cups berries with sugar."", ""Let stan..."
1,39,Biryani,PT25M,PT4H,1999-08-29T13:12:00Z,"c(""https://img.sndimg.com/food/image/upload/w_...",Chicken Breast,"c(""Chicken Thigh & Leg"", ""Chicken"", ""Poultry"",...","c(""1"", ""4"", ""2"", ""2"", ""8"", ""1/4"", ""8"", ""1/2"", ...","c(""saffron"", ""milk"", ""hot green chili peppers""...",6.0,NaN,"c(""Soak saffron in warm milk for 5 minutes and..."
2,40,Best Lemonade,PT5M,PT30M,1999-09-05T19:52:00Z,"c(""https://img.sndimg.com/food/image/upload/w_...",Beverages,"c(""Low Protein"", ""Low Cholesterol"", ""Healthy"",...","c(""1 1/2"", ""1"", NA, ""1 1/2"", NA, ""3/4"")","c(""sugar"", ""lemons, rind of"", ""lemon, zest of""...",4.0,NaN,"c(""Into a 1 quart Jar with tight fitting lid, ..."
3,41,Carina's Tofu-Vegetable Kebabs,PT20M,PT24H,1999-09-03T14:54:00Z,"c(""https://img.sndimg.com/food/image/upload/w_...",Soy/Tofu,"c(""Beans"", ""Vegetable"", ""Low Cholesterol"", ""We...","c(""12"", ""1"", ""2"", ""1"", ""10"", ""1"", ""3"", ""2"", ""2...","c(""extra firm tofu"", ""eggplant"", ""zucchini"", ""...",2.0,4 kebabs,"c(""Drain the tofu, carefully squeezing out exc..."
4,42,Cabbage Soup,PT30M,PT20M,1999-09-19T06:19:00Z,"""https://img.sndimg.com/food/image/upload/w_55...",Vegetable,"c(""Low Protein"", ""Vegan"", ""Low Cholesterol"", ""...","c(""46"", ""4"", ""1"", ""2"", ""1"")","c(""plain tomato juice"", ""cabbage"", ""onion"", ""c...",4.0,NaN,"c(""Mix everything together and bring to a boil..."

### Nutrition Dataset

In [4]:
print('====== Nutrition Dataset ======')
print('Number of rows: ', nutrition_df.shape[0])
print('Number of columns: ', nutrition_df.shape[1])
print('Number of Unique Recipe Categories: ', len(list(set(nutrition_df['RecipeCategory'].unique()))))
print('Number of duplicates: ', nutrition_df.duplicated().sum())
print('Number of Null Values: ', nutrition_df.isnull().sum().sum())
print('Number rows with null values: ', [r for r in nutrition_df[nutrition_df.isnull().any(axis=1)].index])
print('Columns with Null Values: ', nutrition_df.isnull().sum())
print('\n')
nutrition_df.head()

====== Nutrition Dataset ======
Number of rows:  81411
Number of columns:  12
Number of Unique Recipe Categories:  242
Number of duplicates:  3
Number of Null Values:  21
Number rows with null values:  [1369, 3416, 3526, 3645, 4590, 4591, 75670, 76570, 80674, 80701, 80790, 81410]
Columns with Null Values:  Name                   0
Description            5
RecipeCategory         7
Calories               1
FatContent             1
SaturatedFatContent    1
CholesterolContent     1
SodiumContent          1
CarbohydrateContent    1
FiberContent           1
SugarContent           1
ProteinContent         1
dtype: int64

,Name,Description,RecipeCategory,Calories,FatContent,SaturatedFatContent,CholesterolContent,SodiumContent,CarbohydrateContent,FiberContent,SugarContent,ProteinContent
0,Low-Fat Berry Blue Frozen Dessert,Make and share this Low-Fat Berry Blue Frozen ...,Frozen Desserts,170.9,2.5,1.3,8.0,29.8,37.1,3.6,30.2,3.2
1,Biryani,Make and share this Biryani recipe from Food.com.,Chicken Breast,1110.7,58.8,16.6,372.8,368.4,84.4,9.0,20.4,63.4
2,Best Lemonade,This is from one of my first Good House Keepi...,Beverages,311.1,0.2,0.0,0.0,1.8,81.5,0.4,77.2,0.3
3,Carina's Tofu-Vegetable Kebabs,This dish is best prepared a day in advance to...,Soy/Tofu,536.1,24.0,3.8,0.0,1558.6,64.2,17.3,32.1,29.3
4,Cabbage Soup,Make and share this Cabbage Soup recipe from F...,Vegetable,103.6,0.4,0.1,0.0,959.3,25.1,4.8,17.7,4.3

### Restaurants Dataset

In [5]:
print('====== Restaurants Dataset ======')
print('Number of rows: ', restaurants_df.shape[0])
print('Number of columns: ', restaurants_df.shape[1])
print('Number of Unique Countries: ', len(list(set(restaurants_df['Country'].unique()))))
print('Number of duplicates: ', restaurants_df.duplicated().sum())
print('Number of Null Values: ', restaurants_df.isnull().sum().sum())
print('The rows of the null values: ', [r for r in restaurants_df[restaurants_df.isnull().any(axis=1)].index])
print('\n')
restaurants_df.head()

====== Restaurants Dataset ======
Number of rows:  9550
Number of columns:  21
Number of Unique Countries:  15
Number of duplicates:  0
Number of Null Values:  0
The rows of the null values:  []

,Restaurant ID,Restaurant Name,Country,City,Address,Locality Verbose,Longitude,Latitude,Cuisines,Currency,...,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,Nummber of dishes in cuisines,Average cost of two in USD
0,1600219,12212,India,Nashik,"Shop 10, Ramrajya Building 7, Samarth Nagar, N...","College Road, Nashik",73.754636,20.006690,Fast Food,Indian Rupees(Rs.),...,0,0,0,2,3.5,3.70,3,80,1,4.664
1,17057397,'Ohana,USA,Orlando,"1600 Seven Seas Drive, Lake Buena Vista, FL 32830","Disney World Area, Orlando",-81.585226,28.405437,Hawaiian,Dollar($),...,0,0,0,3,4.5,4.65,5,1151,1,45.000
2,18222559,{Niche} - Cafe & Bar,India,New Delhi,"2nd & 3rd Floor, M-16, M Block, Outer Circle, ...","Connaught Place, New Delhi",77.222507,28.631516,"North Indian, Chinese, Italian, Continental",Indian Rupees(Rs.),...,0,0,0,3,4.1,4.25,4,492,4,17.490
3,113702,@Mango,India,Ahmedabad,"Opposite Sindhu Bhawan, Bodakdev, Ahmedabad","Bodakdev, Ahmedabad",72.501764,23.040163,"North Indian, Continental, Mexican, Italian",Indian Rupees(Rs.),...,0,0,0,3,4.1,4.25,4,769,4,9.328
4,3100446,#45,India,Mangalore,"Ground Floor, Trinity Commercial Complex, Near...","Attavar, Mangalore",0.000000,0.000000,Cafe,Indian Rupees(Rs.),...,0,0,0,2,3.6,3.70,3,209,1,6.996

### Reviews Dataset

In [6]:
print('====== Reviews Dataset ======')
print('Number of rows: ', reviews_df.shape[0])
print('Number of columns: ', reviews_df.shape[1])
print('Number of Unique Authors: ', len(list(set(reviews_df['AuthorId'].unique()))))
print('Number of duplicates: ', reviews_df.duplicated().sum())
print('Number of Null Values: ', reviews_df.isnull().sum().sum())
print('Number of rows with null values: ', len(reviews_df[reviews_df.isnull().any(axis=1)].index))
print('Columns with Null Values: ', reviews_df.isnull().sum())
print('\n')
reviews_df.head()

====== Reviews Dataset ======
Number of rows:  317099
Number of columns:  7
Number of Unique Authors:  87644
Number of duplicates:  1446
Number of Null Values:  373388
Number of rows with null values:  105379
Columns with Null Values:  ReviewId              2
RecipeId          17983
AuthorId          24121
AuthorName        60713
Review            71159
DateSubmitted     94054
DateModified     105356
dtype: int64

,ReviewId,RecipeId,AuthorId,AuthorName,Review,DateSubmitted,DateModified
0,2,992,2008,gayg msft,better than any you can get at a restaurant!,2000-01-25T21:44:00Z,2000-01-25T21:44:00Z
1,9,4523,2046,Gay Gilmore ckpt,i think i did something wrong because i could ...,2000-02-25T09:00:00Z,2000-02-25T09:00:00Z
2,14,44,2085,Tony Small,An excellent dish.,2000-03-28T12:51:00Z,2000-03-28T12:51:00Z
3,21,148,2156,Darlene Blythe,Would someone please check the Nutrition Facts...,2000-06-02T10:01:00Z,2000-06-02T10:01:00Z
4,22,517,2046,Gay Gilmore ckpt,thought this was terrific!,2000-02-25T09:02:00Z,2000-02-25T09:02:00Z

In [7]:
# reviews that have recipe ids that are not present in the recipes dataset
invalid_reviews = reviews_df[reviews_df['RecipeId'].isin(recipes_df['RecipeId'])]
print('Number of reviews with invalid recipe ids: ', invalid_reviews.shape[0])

Number of reviews with invalid recipe ids:  0

## Cleaning the Datasets
With every single dataset we will have to clean it in order to make it suitable for the construction of the knowledge graph. In all datasets duplicated rows are removed. Null values are treated accordingly based on the importance of the attribute. Also, only recipes which have nutritional information are kept, therefore, keeping only recipes that are present in both the Recipes and Nutrition datasets.

#### Relevant Columns in each dataset:
- For the **Recipe dataset**, <u>remove</u> the `RecipeYield`, `RecipeServings`, and `Images` columns as they are not relevant to the task. Replace the null values in the `CookTime` column with the median cook time. Also, <u>remove</u> the rows that have the null values in the `RecipeCategory` and `Keywords` column as they are crucial attributes for the knowledge graph.

- In the **Nutrition dataset**, <u>keep</u> all the columns as they are relevant to the construction of the knowledge graph. But <u>remove</u> the rows that do not have a `RecipeCategory` value and nutritional values.

- In the **Restaurants dataset**, <u>remove</u> the `Is delivering now`, `Switch to order menu`, `Price range`, and `Nummber of dishes in cuisines` columns as they are not relevant to the task.

- In the **Reviews dataset**, <u>remove</u> the `DateSubmitted` and `DateModified` columns as they are copies of each other and irrelevant to the task. We also filter out the reviews that have datetime strings in the `Review` column as they are not actual reviews.

In [8]:
# Remove duplicates from all the datasets
recipes_df.drop_duplicates(inplace=True)
reviews_df.drop_duplicates(inplace=True)
restaurants_df.drop_duplicates(inplace=True)
nutrition_df.drop_duplicates(inplace=True)

# Remove irrelevant columns from the datasets
recipes_df.drop(columns=["RecipeYield", "RecipeServings", "Images"], inplace=True)
reviews_df.drop(columns=["DateSubmitted", "DateModified"], inplace=True)
restaurants_df.drop(columns=["Is delivering now", "Switch to order menu", "Price range", "Nummber of dishes in cuisines"], inplace=True)

# Remove rows with null values in the RecipeCategory and Keywords columns in the Recipes dataset
recipes_df.dropna(subset=['RecipeCategory', 'Keywords', 'RecipeIngredientQuantities'], inplace=True)
nutrition_df.dropna(inplace=True) # remove rows with null values in the Nutrition dataset
reviews_df.dropna(subset=['RecipeId', 'AuthorId', 'Review'], inplace=True)

# Remove all the recipes in the Recipes dataset that are not present in the Nutrition dataset
recipes_df = recipes_df[recipes_df['Name'].isin(nutrition_df['Name'])]

In [9]:
# Clean the cook and prep times of the Recipes dataset
def clean_cook_time_column(df, column):
    for index, row in df.iterrows(): # iterate through each row in the dataframe
        minutes = 0 # initialise the minutes variable
        time_str = row[column] # get the cook time string
        if pd.isna(time_str): # if the cook time value is null, skip the row
            df.at[index, column] = str(0)
            continue
        time_str = time_str.replace('PT', '') # remove the 'PT' prefix from the cook time values
        for char in time_str: # iterate through each character in the cook time string
            if char == "H":
                minutes += int(time_str[:time_str.index(char)]) * 60 # add the hours to the minutes variable
                time_str = time_str[time_str.index(char)+1:]
            elif char == "M":
                minutes += int(time_str[:time_str.index(char)]) # add the minutes to the minutes variable
        df.at[index, column] = str(minutes) # replace the cook time string with the minutes variable
    df[column] = pd.to_numeric(df[column], downcast='float') # convert the cook time values to numeric
    df[column].fillna(df[column].median()) # replace null cook time values with median time

# Convert CookTime and PrepTime to numeric and replace null values with median
clean_cook_time_column(recipes_df, 'CookTime')
clean_cook_time_column(recipes_df, 'PrepTime')

In [10]:
# Clean the Review column of the Reviews dataset by removing rows that have datetime strings in the Review column
for index, row in reviews_df.iterrows():
    review = row['Review']
    # print(review)
    if len(review) == 20:
        if review[4] == '-' and review[7] == '-':
            reviews_df.drop(index, inplace=True)

## Save datasets

In [11]:
recipes_df.to_csv('data/cleaned_recipes.csv', index=False)
nutrition_df.to_csv('data/cleaned_nutrition.csv', index=False)
restaurants_df.to_csv('data/cleaned_restaurants.csv', index=False)
reviews_df.to_csv('data/cleaned_reviews.csv', index=False)